<%- include('./layout/header', {title:'Homepage - Shopper Tropper', page:'index'}) %>

<div class="row mx-1 mx-sm-0 mb-4 bg-dark rounded-3 shadow">
  <div class="col-md-6 col-lg-8 container-fluid py-5 text-light p-5">
    <h1>Welcome to Shopper Tropper</h1>
    <p class="lead">
      Everything you wanted, all in one spot.
    </p>
    <p>
      All the goods you need to make your home your own.
    </p>
  </div>
  <div class="d-none d-md-block col-md-6 col-lg-4 p-0">
    <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v932-ning-51_1-klbun37w.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=39c41ba98c0f5879e17fd7bb0529fde1" alt="shopping cart drawing" class="img-fluid rounded">
  </div>
</div>

<div class="row pt-4">
  <div class="col-md-4 mx-auto d-flex flex-column align-items-center">
    <h2>You May Like...</h2>
    <%- include('./partials/singleProductCard',{product:randomProduct}) %>
  </div>
  <div class="col-md-1 d-lg-none"></div>
  <div class="col-md-7 col-lg-8 pt-5 px-5 px-md-0">
    <h2>Stuff. Yes, we have the stuff.</h2>
    <p class="lead">We have it all.</p>
    <p>Check out the variety of products we have to offer. We're sure you'll find the thing you're looking for.</p>
    <div class="d-grid col-sm-12 col-md-4 col-lg-3">
      <a href="/products" class="btn btn-outline-primary">All Products</a>
    </div>
  </div>
</div>

<%- include('./layout/footer') %>