<%- include('./layout/header', {title:'Login - Shopper Tropper', page:'login'}) %>
<div class="row">
  <div class="d-none d-md-block col-md-2"></div>
  <div class="d-flex flex-column align-items-center justify-content-center rounded shadow-lg py-5 col-md-8">
    <h1 class="display-5 mb-5">Login</h1>
    <a class="btn btn-outline-success" href="/auth/google"><i class="bi bi-google"></i> Login with Google</a>
  </div>
  <div class="col-md-2"></div>

</div>

<%- include('./layout/footer') %>