<%- include('../layout/header', {title:'Products'}) %>
<div class="d-flex flex-wrap justify-content-evenly">
  <% products.forEach(product => { %>
  <%- include('../partials/singleProductCard',{product}) %>
  <% }) %>
</div>
<%- include('../layout/footer') %>